<body id="test">
    <div class="container">
        <div class="text-center">
            <img class="logo2" src="logo2.png">
            <img class="logo" src="logo.png">
        <div class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem urna, luctus ut tincidunt et, commodo nec nunc. Phasellus dui mi, tempor et molestie vel, maximus at nisl. Quisque sit amet lorem non augue maximus pretium a et lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus odio dolor, maximus et lectus eu, commodo venenatis diam. Praesen.</div>
        <div>
            <%= link_to image_tag("gets.png", class: "gets"), posts_path %>
        </div>
        <div>
    </div>
</body>