
@import 'bootstrap';

.navitem {
    width: 20px;
    margin-right: 20px;
}


.brand {
    width: 15%;
}

.sungsoo{
    width: 100px;
    height: 100px;
}

.ds{
    font-family: 'Nanum Pen Script', cursive;
}