
@import 'bootstrap';

.navitem {
    width: 20px;
    margin-right: 20px;
}
.jcardd{
    margin-right: 20px;
}
.jmembers{
    font-family:'Nanum Gothic Coding', monospace;
}
.jcards{
    display: flex;
    // justify-content: center;
    align-items: center;
}
.jpostbody{
    background-color: lightgray;
}

.jpostmar{
    height: 700px;
    width: 800px;
    margin: 50px auto;
}

.jposttitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.jcontain{
    display: flex;
    align-items: center;
}
.jsearching{
    height: 700px;
    width: 400px;
    margin: 50px auto;
}
.brand {
    width: 15%;
}
